*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: "Open Sans";
}

main {
width: 500x;
margin: 15px auto;
}

h1 {
color: rgb(17, 17, 17);
font-size: 6rem;
font-family: cursive ;
margin-bottom: 25px;
}

input {
    display: block;
    width: 320px;
    margin: 15px auto;
    padding: 10px;
    font-size: medium;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #3ece8e;
    color: #fff;
    font-size: 1rem;
    border: none;
}

#searchResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px 10px #ccc;
    margin: 15px;
    padding: 100px;
    list-style-type: none;
    
}